* { 
	margin: 0;
	padding: 0;
	background-image: url("tictactoe.jpg");
	color: #FFFFFF;
}

a, span {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 19px;
}

#cubo{
	transform: skewX(-25deg);
	width:200px;
	margin: 0 auto;
}

#tabuleiro{
	text-align: center;
}
#botao {
	text-align:center;
	font-size: 20pt;
	font-family: 'Open Sans', Sans-serif;
	margin-top:0%;
	margin-left:0%;
}

#vitoria {
display:inline-block;
	text-align:absolute;
	font-size: 22pt;
	font-family: 'Open Sans', Sans-serif;
	margin-top:0%;
	margin-left:0%;
}

.button {
    background-color: #e7e7e7;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}