* { 
	margin: 0;
	padding: 0;
	background-image: url("tictactoe.jpg");
	color: #FFFFFF;
}

a, span {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 19px;
}

#cubo{
	transform: skewX(-25deg);
}

#tabuleiro{
	text-align: center;
}
#botao {
	text-align:center;
	font-size: 20pt;
	font-family: Open Sans;
	margin-top:5%;
	margin-left:0%;
}